.background    { background: rgb(204, 193, 244);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 229, 135); }
.wall          { background: rgb(214,110,36)   }

.actor  { position: absolute;  }
.player { background: rgb(247, 64, 64); }
.coin { background: rgb(234, 161, 112); }
.koin { background: rgb(138, 237, 135); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
